:root {
  /* color */
  --body-color: #fff;
  --bg-color: #ffffff;
  --main-color: #12a4dd;
  --footer-color: #ededed;
  /* size */
  --app-width: 500px;
  /* shadow */
  --shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* font */
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 12px;

  --font-weight-bold: 700;
  --font-weight-regular: 500;
  --font-weight-light: 200;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background: var(--body-color);
}

.btn {
  display: block;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* header */
header {
  width: var(--app-width);
  background: var(--main-color);
  margin: 0 auto;
  box-shadow: var(--shadow);
  padding: 30px 80px;
  box-sizing: border-box;
  text-align: center;
}
.logo {
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  font-weight: var(--font-weight-bold);
}
.btn-list {
  display: flex;
  justify-content: space-between;
}
.btn-list .btn {
  background: var(--bg-color);
  font-size: var(--medium);
  font-weight: var(--font-weight-bold);
  color: var(--main-color);
  text-decoration: none;
}

/* main */
main {
  width: var(--app-width);
  min-height: 1000px;
  background: var(--bg-color);
  margin: 0 auto;
  box-shadow: var(--shadow);
  padding: 30px;
  box-sizing: border-box;
}
.component {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: var(--shadow);
}
.component-title {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}
.component-description {
  font-size: var(--font-size-small);
}
.delete-btn {
  background: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
}

.url-component {
  display: flex;
  height: 200px;
}
.url-component .component-title {
  margin: 20px;
}

.string-component {
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
}
.string-component .component-title {
  margin-bottom: 20px;
}

/* footer */
footer {
  width: var(--app-width);
  height: 200px;
  margin: 0 auto;
  box-shadow: var(--shadow);
  padding: 30px;
  box-sizing: border-box;
}

/* dialog */
.dialog {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  padding: 30px;
  box-sizing: border-box;
  background: var(--footer-color);
  box-shadow: var(--shadow);
}
.title, .description, .url {
  margin-bottom: 20px;
}
.title span, .description span, .url span {
  display: block;
  margin-bottom: 4px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}
.title input, .description input, .url input {
  display: block;
  width: 100%;
  font-size: var(--font-size-medium);
  border-radius: 0;
  border: none;
  padding: 8px;
  box-sizing: border-box;
}

.confirm {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.add-btn, .close-btn {
  background: var(--main-color);
  color: var(--bg-color);
  font-size: var(--medium);
  font-weight: var(--font-weight-regular);
}
.display {
  display: block;
  z-index: 200;
}